In [31]:
cd /content/drive/MyDrive/jobrecommender

[WinError 3] The system cannot find the path specified: '/content/drive/MyDrive/jobrecommender'
c:\Users\Admin\Downloads\Job-Recomendation-main\Job-Recomendation-main\notebook

In [4]:
# importing the required modules
import glob
import pandas as pd
  
# specifying the path to csv files
path = r"C:\Users\ASUS\OneDrive\Máy tính\dacn1\Job_recommendation\data\scrapped_data"
# csv files in the path
files = glob.glob(path + "/*.csv")
  
# defining an empty list to store 
# content
data_frame = pd.DataFrame()
content = []
count=0
# checking all the csv files in the 
# specified path
for filename in files:
    
    # reading content of csv file
    # content.append(filename)
    df = pd.read_csv(filename, index_col=None)
    content.append(df)
    count=count+1
  
# converting content to data frame
data_frame = pd.concat(content)
print("Total data frame -",count)

Total data frame - 14

In [33]:
data_frame=data_frame.drop(['companyLogo','id','jobType','scrapedAt'],axis=1)

In [5]:
data_frame.columns

Index(['Job Title', 'Job Description', 'Required Skills', 'Salary Range',
       'Location', 'Company', 'Experience Level', 'Industry', 'Job Type',
       'Date Posted', 'Min Salary', 'Max Salary', 'Month', 'Avg Salary',
       'company', 'companyLogo', 'description', 'externalApplyLink', 'id',
       'jobType', 'location', 'positionName', 'postedAt', 'rating',
       'reviewsCount', 'salary', 'scrapedAt', 'url'],
      dtype='object')

In [6]:
data_frame.columns

Index(['Job Title', 'Job Description', 'Required Skills', 'Salary Range',
       'Location', 'Company', 'Experience Level', 'Industry', 'Job Type',
       'Date Posted', 'Min Salary', 'Max Salary', 'Month', 'Avg Salary',
       'company', 'companyLogo', 'description', 'externalApplyLink', 'id',
       'jobType', 'location', 'positionName', 'postedAt', 'rating',
       'reviewsCount', 'salary', 'scrapedAt', 'url'],
      dtype='object')

In [7]:
# Ensure df is defined
df = data_frame.reindex(columns=['company', 'positionName', 'description', 'salary', 'location', 'rating', 'reviewsCount', 'postedAt', 'externalApplyLink', 'url'])

In [8]:
df

,company,positionName,description,salary,location,rating,reviewsCount,postedAt,externalApplyLink,url
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.to_csv("data.csv",index=False)

In [10]:
import pandas as pd

# Đọc file all_locations.csv
try:
    all_locations_df = pd.read_csv(r"C:\Users\ASUS\OneDrive\Máy tính\dacn1\Job_recommendation\data\scrapped_data\vietnam_it_job_locations.csv")
    print(f"Đã đọc thành công file all_locations.csv. Số lượng location: {len(all_locations_df)}")
except FileNotFoundError:
    print("Không tìm thấy file all_locations.csv. Vui lòng kiểm tra lại đường dẫn hoặc tên file.")
    raise
except Exception as e:
    print(f"Có lỗi khi đọc file CSV: {str(e)}")
    raise

Đã đọc thành công file all_locations.csv. Số lượng location: 10

In [11]:
# Chuyển dữ liệu thành danh sách các dictionary
locations_to_insert = all_locations_df[["Location"]].dropna().to_dict("records")

# Kiểm tra dữ liệu
print(f"Dữ liệu sẽ được thêm vào MongoDB: {locations_to_insert[:5]}")  # In 5 document đầu tiên để kiểm tra

Dữ liệu sẽ được thêm vào MongoDB: [{'Location': 'Remote'}, {'Location': 'Hanoi'}, {'Location': 'Ho Chi Minh City'}, {'Location': 'Da Nang'}, {'Location': 'Can Tho'}]

In [12]:
import pymongo

# Kết nối đến MongoDB
try:
    client = pymongo.MongoClient("mongodb://localhost:27017/")  # Điều chỉnh connection string nếu cần
    db = client["Job-Recomendation"]  # Tên database
    collection = db["all_locations_Data"]  # Tên collection

    # Xóa dữ liệu cũ trong collection (tùy chọn, nếu bạn muốn làm mới dữ liệu)
    collection.drop()
    print("Đã xóa dữ liệu cũ trong all_locations_Data.")

    # Thêm dữ liệu mới vào collection
    if locations_to_insert:
        collection.insert_many(locations_to_insert)
        print(f"Đã thêm {len(locations_to_insert)} location vào all_locations_Data.")
    else:
        print("Không có dữ liệu để thêm vào MongoDB.")
except Exception as e:
    print(f"Có lỗi khi thêm dữ liệu vào MongoDB: {str(e)}")
    raise

Đã xóa dữ liệu cũ trong all_locations_Data.
Đã thêm 10 location vào all_locations_Data.

In [13]:
import pandas as pd
from pymongo import MongoClient

# Đường dẫn tới file CSV
file_path = r"C:\Users\ASUS\OneDrive\Máy tính\dacn1\Job_recommendation\notebook\final_job.csv"

try:
    # Đọc dữ liệu từ file CSV
    df = pd.read_csv(file_path)
    print(f"Đã đọc {len(df)} bản ghi từ file CSV.")

    # Chuyển đổi DataFrame thành danh sách các dictionary
    data = df.to_dict(orient='records')

    # Kết nối tới MongoDB
    client = MongoClient('mongodb://localhost:27017/')  # Thay đổi URL nếu cần
    db = client["Job-Recomendation"]  # Tên database
    collection = db['preprocessed_jobs_Data']  # Tên collection

    # Xóa dữ liệu cũ trong collection (tùy chọn, nếu bạn muốn làm mới dữ liệu)
    collection.drop()
    print("Đã xóa dữ liệu cũ trong preprocessed_jobs_Data.")

    # Chèn dữ liệu mới vào collection
    if data:  # Kiểm tra xem data có rỗng hay không
        collection.insert_many(data)
        print(f"Đã thêm {len(data)} bản ghi vào preprocessed_jobs_Data.")
    else:
        print("Không có dữ liệu để thêm vào MongoDB.")

except Exception as e:
    print(f"Có lỗi xảy ra: {str(e)}")
    raise

Đã đọc 20020 bản ghi từ file CSV.
Đã xóa dữ liệu cũ trong preprocessed_jobs_Data.
Đã thêm 20020 bản ghi vào preprocessed_jobs_Data.

In [14]:
print(data[:5])  # In 5 bản ghi đầu tiên

[{'Job Title': 'Software Engineer', 'Job Description': "Design cloud-based solutions using JSP and HTML for FPT Software's data pipelines to ensure scalability.", 'Required Skills': 'JSP, HTML, Java', 'Salary Range': '35M VND/month - 41M VND/month', 'Location': 'Hanoi', 'Company': 'FPT Software', 'Experience Level': 'Mid-Level', 'Industry': 'Mobile Development', 'Job Type': 'Part-Time', 'Date Posted': '14/8/2019', 'externalApplyLink': 'https://careers.fptsoftware.com/', 'url': 'https://www.vietnamworks.com/viec-lam/software-engineer-fpt-software-3695871', 'JobID': 0, 'Job Description\t': 0, 'All': "Software Engineer,Design cloud-based solutions using JSP and HTML for FPT Software's data pipelines to ensure scalability.,JSP, HTML, Java,35M VND/month - 41M VND/month,Hanoi,FPT Software,Mid-Level,Mobile Development,Part-Time,14/8/2019,https://careers.fptsoftware.com/,https://www.vietnamworks.com/viec-lam/software-engineer-fpt-software-3695871,0,0", '_id': ObjectId('67f7764e4fb55d15bb672b20')}, {'Job Title': 'Database Administrator', 'Job Description': "Enhance web applications using Python and C# for Shopee Vietnam's blockchain protocols to enable real-time processing.", 'Required Skills': 'C#, Python', 'Salary Range': '39M VND/month - 45M VND/month', 'Location': 'Hanoi', 'Company': 'Shopee Vietnam', 'Experience Level': 'Mid-Level', 'Industry': 'Software Development', 'Job Type': 'Full-Time', 'Date Posted': '21/6/2019', 'externalApplyLink': 'https://careers.shopee.vn/', 'url': 'https://www.vietnamworks.com/viec-lam/java-web-developer-tai-ha-noi-1612345-en', 'JobID': 1, 'Job Description\t': 1, 'All': "Database Administrator,Enhance web applications using Python and C# for Shopee Vietnam's blockchain protocols to enable real-time processing.,C#, Python,39M VND/month - 45M VND/month,Hanoi,Shopee Vietnam,Mid-Level,Software Development,Full-Time,21/6/2019,https://careers.shopee.vn/,https://www.vietnamworks.com/viec-lam/java-web-developer-tai-ha-noi-1612345-en,1,1", '_id': ObjectId('67f7764e4fb55d15bb672b21')}, {'Job Title': 'Network Engineer', 'Job Description': "Architect real-time data platforms using PHP and Java for CMC Global's databases to optimize workflows.", 'Required Skills': 'PHP, Java', 'Salary Range': '28M VND/month - 36M VND/month', 'Location': 'Ho Chi Minh City', 'Company': 'CMC Global', 'Experience Level': 'Entry-Level', 'Industry': 'Software Development', 'Job Type': 'Full-Time', 'Date Posted': '29/5/2019', 'externalApplyLink': 'https://cmcglobal.com.vn/career/', 'url': 'https://itviec.com/viec-lam-it/network-engineer-cmc-global-3912', 'JobID': 2, 'Job Description\t': 2, 'All': "Network Engineer,Architect real-time data platforms using PHP and Java for CMC Global's databases to optimize workflows.,PHP, Java,28M VND/month - 36M VND/month,Ho Chi Minh City,CMC Global,Entry-Level,Software Development,Full-Time,29/5/2019,https://cmcglobal.com.vn/career/,https://itviec.com/viec-lam-it/network-engineer-cmc-global-3912,2,2", '_id': ObjectId('67f7764e4fb55d15bb672b22')}, {'Job Title': 'Software Engineer', 'Job Description': "Enhance cloud-based solutions using CSS and C# for Axon Active's cloud infrastructure to support business growth.", 'Required Skills': 'C#, CSS, JSP', 'Salary Range': '53M VND/month - 64M VND/month', 'Location': 'Remote', 'Company': 'Axon Active', 'Experience Level': 'Senior-Level', 'Industry': 'Cybersecurity', 'Job Type': 'Part-Time', 'Date Posted': '26/3/2019', 'externalApplyLink': 'https://www.axonactive.com/careers/', 'url': 'https://www.vietnamworks.com/viec-lam/full-stack-developer-tai-tp-hcm-1623456-en', 'JobID': 3, 'Job Description\t': 3, 'All': "Software Engineer,Enhance cloud-based solutions using CSS and C# for Axon Active's cloud infrastructure to support business growth.,C#, CSS, JSP,53M VND/month - 64M VND/month,Remote,Axon Active,Senior-Level,Cybersecurity,Part-Time,26/3/2019,https://www.axonactive.com/careers/,https://www.vietnamworks.com/viec-lam/full-stack-developer-tai-tp-hcm-1623456-en,3,3", '_id': ObjectId('67f7764e4fb55d15bb672b23')}, {'Job Title': 'Database Administrator', 'Job Description': "Enhance mobile-first interfaces using JSP and C# for VinAI's APIs to optimize workflows.", 'Required Skills': 'C#, HTML, Spring, JSP', 'Salary Range': '56M VND/month - 70M VND/month', 'Location': 'Hanoi', 'Company': 'VinAI', 'Experience Level': 'Senior-Level', 'Industry': 'Web Development', 'Job Type': 'Full-Time', 'Date Posted': '26/3/2019', 'externalApplyLink': 'https://vinai.io/careers/', 'url': 'https://topdev.vn/viec-lam/database-administrator-vinai-tai-da-nang-8161017', 'JobID': 4, 'Job Description\t': 4, 'All': "Database Administrator,Enhance mobile-first interfaces using JSP and C# for VinAI's APIs to optimize workflows.,C#, HTML, Spring, JSP,56M VND/month - 70M VND/month,Hanoi,VinAI,Senior-Level,Web Development,Full-Time,26/3/2019,https://vinai.io/careers/,https://topdev.vn/viec-lam/database-administrator-vinai-tai-da-nang-8161017,4,4", '_id': ObjectId('67f7764e4fb55d15bb672b24')}]

In [15]:
import pandas as pd
from pymongo import MongoClient

# Đường dẫn tới file CSV
file_path = r"C:\Users\ASUS\OneDrive\Máy tính\dacn1\Job_recommendation\data\concatenated_data\updated_cv.csv"

try:
    # Đọc dữ liệu từ file CSV
    df = pd.read_csv(file_path)
    print(f"Đã đọc {len(df)} bản ghi từ file CSV.")

    # Chuyển đổi DataFrame thành danh sách các dictionary
    data = df.to_dict(orient='records')

    # Kết nối tới MongoDB
    client = MongoClient('mongodb://localhost:27017/')  # Thay đổi URL nếu cần
    db = client["Job-Recomendation"]  # Tên database
    collection = db['Resume_Data']  # Tên collection

    

    # Chèn dữ liệu mới vào collection
    if data:  # Kiểm tra xem data có rỗng hay không
        collection.insert_many(data)
        print(f"Đã thêm {len(data)} bản ghi vào Resume_Data.")
    else:
        print("Không có dữ liệu để thêm vào MongoDB.")

except Exception as e:
    print(f"Có lỗi xảy ra: {str(e)}")
    raise

Đã đọc 19 bản ghi từ file CSV.
Đã thêm 19 bản ghi vào Resume_Data.

In [16]:
from pymongo import MongoClient
dataBase = "Job-Recomendation"
collection1 = "preprocessed_jobs_Data"
collection2 = "Resume_from_CANDIDATE"
collection3 = "all_locations_Data"

client = MongoClient('mongodb://localhost:27017/')
db = client[dataBase]
collection = db[collection1]

# Tìm và xóa các bản ghi trùng lặp dựa trên 'Job Description'
pipeline = [
    {"$group": {"_id": "$Job Description", "uniqueIds": {"$addToSet": "$_id"}, "count": {"$sum": 1}}},
    {"$match": {"count": {"$gt": 1}}}
]
duplicates = collection.aggregate(pipeline)

for doc in duplicates:
    ids = doc['uniqueIds'][1:]  # Giữ lại bản ghi đầu tiên, xóa các bản sao
    collection.delete_many({"_id": {"$in": ids}})